# Włączenie modułu Rewrite (jeśli jest obsługiwany)
<IfModule mod_rewrite.c>
RewriteEngine On


# Blokuj dostęp do plików konfiguracyjnych
<FilesMatch "(\.htaccess|\.htpasswd|wp-config\.php|config\.php|\.env)">
    Order Allow,Deny
    Deny from all
</FilesMatch>


RewriteCond %{HTTP_USER_AGENT} (bot|crawler|spider|Yandex|MJ12bot|AhrefsBot|Baiduspider|SemrushBot|DotBot|BLEXBot) [NC]
RewriteRule .* - [F,L]

# Zabezpieczenie przed hotlinkowaniem (blokowanie zewnętrznych stron)
RewriteCond %{HTTP_REFERER} !^https?://(www\.)?kamilex106\.pl [NC]
RewriteCond %{HTTP_REFERER} !^$
RewriteRule \.(jpg|jpeg|png|gif|bmp)$ - [F,NC,L]


<IfModule mod_headers.c>
    Header set X-XSS-Protection "1; mode=block"
    Header always append X-Frame-Options DENY
    Header set X-Content-Type-Options nosniff
</IfModule>


</IfModule>
